.movieRow{
    margin-bottom: 30px;
}

.movieRow h2{
    margin:0px 0px 0px 30px;
}

.movieRow--listarea{
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow--list{
    width: 99999999px;
}
.movieRow--item{
    display:inline-block;
    width: 150px;
    cursor:pointer;
}

.movieRow--item img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieRow--item img:hover{
    transform: scale(1);
}

.movieRow--left,.movieRow--rigth{

position: absolute;
width: 40px;
height: 225px;
background-color: red;
z-index: 99px;
}

.movieRow--left{
    left: 0px;
}
.movieRow--right{
    left: 0px;
}


